.schoolAndGrade {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.schoolAndGrade .CollegeLycee {
  flex-basis: calc(50% - 0.8em);
  padding: 1em;
  padding-top: 1.33em;
  border: 1px solid #dadce0;
  border-radius: 8px;
}

.schoolAndGrade .CollegeLycee h4 {
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

.schoolAndGrade .CollegeLycee div {
  display: flex;
  justify-content: center;
  margin: 1.33em 0 0;
}

.schoolAndGrade .CollegeLycee div a {
  min-width: 2em;
  margin: 0 0.6em;
  padding: 0.4em 1em;
  color: #1a73e8;
  border: 1px solid #dadce0;
  border-radius: 4px;
  transition: background .2s .1s;
  text-decoration: none;
}

.schoolAndGrade .CollegeLycee div a:hover {
  background: rgba(26,115,232,0.039);
  border-color: #d2e3fc;
}
